@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600');
.app {
    font-family: 'Open Sans', sans-serif;
}

.profil_div {
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 50px;
    margin-bottom: 50px;
}

#profil.page_junior h3 {
    margin-left: 50px;
}
.profilPage{
    padding-left:70px;
}
#historique {
    margin-top: 50px;
    margin-left: 50px;
    margin-right: 50px;
}

.search_junior {
    float: right;
    padding-bottom: 20px;
}
/*##############################FIRST NAVBAR#######################################################*/
* {
    box-sizing: content-box;
}

.mainNavJunior .active {
    background-color: #FAFAFA!important;
    border-bottom-color: #FAFAFA!important;
    color: #193758;
}

.mainNavJunior, .mainNavJunior ul {
    padding: 0;
    margin: 0;

}

.mainNavJunior ul.navbar-nav > li{
    float:left;
}

.mainNavJunior a.nav-link, .mainNavJunior li.nav-item .active a.nav-link {
    text-align: center;
    display:block;
    width: 150px;
    padding-top: 10px;
    padding-bottom: 10px;
    color: #f0ad4e;
}
.mainNavJunior a.nav-link:hover{
    color:#ff8351;
}
/*##############################CARDS#######################################################*/


.carteJunior {
    margin-left: 30px;
    margin-top: 30px;
    padding: 0;
}
.titlePrivJunior{
    font-family: "Open Sans";
    font-weight: 500;
    padding-left: 20px;
}
.title_privateJunior{
    font-family: "Open Sans";
    font-weight: 500;
}

.card-junior{
    border-color: #17a2b8;
    border-width: 2px;
}
.card-junior-recu{
    border-color: #e90a0a;
    border-width: 2px;
}
.card-junior-acceptee{
    border-color: #28a733;
    border-width: 2px;
}
.card-junior-effectuee{
    border-color: #ff8351;
    border-width: 2px;
}

.card-header-junior{
    font-weight: 500;
}

.card-footer-junior{
    height:45px;
    text-decoration: none;
    border-style: none;
    background-color: white;
    padding-left: 5px;
}


.bg-faded {
    margin-left: 20px;
    margin-right: 15px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.card-body-junior {
    padding:0;
    margin-left: 5px;
}

/*##############################SECOND NAVBAR#######################################################*/


.secondNav.navbar .secondNav ul.navbar-nav {
    display: inline-block;
    float: none;
}

.secondNav ul.navbar-nav.navbar-center {
    position: absolute;
    left: 50%;
    transform: translatex(-50%);
    height: auto;
}

.secondNav.navbar {
    margin: auto;
    height: 40px;
}

.secondNav a.nav-link, li.nav-item.active a.nav-link {
    text-align: center;
    display:block;
    padding-left: 30px;
    padding-right: 30px;
}


/*navbar*/
.bg-dark {
    background: #193758!important;
}
.navbar-dark .navbar-nav .nav-link{
    color: #F0AD4E;
}
.box-shadow{
    box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, .05);
}
.fixed-top {
    position:relative;
}
.d-flex {
    display: flex!important;
}
.p-3 {
    padding: 0!important;
}
@media (min-width: 768px){
    .pr-md-4, .px-md-4 {
        padding-right: 1.5rem!important;
    }
}
.navbar-expand-sm {
    justify-content: flex-end;
}

.btn-connexion {
    margin-left: 20em;
    padding-top: 0.5rem!important;
    padding-bottom: 0.5rem!important;
    padding-left: 1rem!important;
    padding-right: 1rem!important;
}
.text-orange{
    color: #f0ad4e;
}
.logo{
    width: 3.5em;
    padding: 7px;
}
.btn-outline-primary {
    color: #f0ad4e;
    background-color: transparent;
    background-image: none;
    border-color: #f0ad4e;
}
.btn-outline-primary:hover {
    color: #fff;
    background-color: #F0AD4E;
    border-color: #F0AD4E;
}
.navbar a:hover {
    color: #fff!important;
    text-decoration: none;
}
.mb-3, .my-3 {
    margin-bottom: 0!important;
}
.topnav-right {
    float: right!important;
}
@media (min-width: 768px){
    .mr-md-auto, .mx-md-auto {
        margin-right: auto!important;
    }
}


.card-title {
    background-color: #FAFAFA;
    border-bottom-color: #FAFAFA;
    padding-bottom: 1em;
    margin-left: 4em;
    text-align: center;
}

.card-boxer {
    background-color: #FAFAFA;
    border-bottom-color: #FAFAFA;

}


.page_junior{
    background-color:#FAFAFA;
    display: none;
    padding-top: 1.5em;
}

.list-group-item {
    margin-bottom: 1em;
    padding-top: 0.35rem;
    padding-bottom: 0.25rem;
}


.card-back{
    background-color: #FAFAFA;
    border-color: #FAFAFA;
}

.nav-link{
    font-weight: 500;
    font-size: 1.1em;
    color: #F0AD4E;
}

h2 {
    font-size: 300%;
}


footer {
    background-color: #193758;
    color: white;
    padding: 15px;
}

.footer-position{
    left:250px;
    bottom: 30px;
}

.cont-position {
    text-align: center;
}

.container{
    max-width: 1300px;
    padding-bottom: 1.5em;
}

.btn-pos {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom:2em;
    background-color: #f0ad4e;
    color: white;
    height: 2.3em;
    border:none;
}
.btn-pos:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom:2em;
    background-color: #ff8351;
    color: white;
    height: 2.3em;
    border:none;
}
.font{
    font-size: 120%;
}
.label-font{
    font-weight: bold;
}

.modal-dialog{
    max-width:700px;
}

/*Tableau de bord*/
.TD-row {
    margin-right: 0!important;
}

.container-fluid {
    margin-right: 0!important;
    padding-right: 0!important;
    padding-left: 0!important;
}

.card-header-recu {
    background-color: #f1f1f1;
    padding: 3%;
    text-align: center;
    font-size: 1.5em;
    font-family: "Open Sans";
    font-weight: 700;
    color:#e90a0a;
}
.card-header-acceptee {
    background-color: #f1f1f1;
    padding: 4%;
    text-align: center;
    font-size: 1.5em;
    font-family: "Open Sans";
    font-weight: 700;
    color:#28a733;
}

.card-header-effectuee{
    background-color: #f1f1f1;
    padding: 3%;
    text-align: center;
    font-size: 1.5em;
    font-family: "Open Sans";
    font-weight: 700;
    color:#ff8351;
}
.card-body-junior{
    margin-left: 0!important;
}

.card-title-junior {
    margin-left: 0!important;
    padding: 0.5em;
    text-align: center;
    border-bottom: 1px solid;
    border-bottom-color: #193758;
}

label {
    padding-top: 1em;
    font-weight: bold;
}

.request_startDate {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.request_seniorName{
    color:#f0ad4e;
}

.btn-accepte{
    margin-top: 1em;
    width: 100%;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: #f0ad4e;
    color: #FFF;
    border: none;
}
.btn-accepte:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: #f84a06;
}

.btn-refuse {
    margin-top: 1em;
    width: 100%;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: #ff8351;
    color: #FFF;
    border: none;
}
.btn-refuse:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color:  #f84a06;
}




/*FOOTER*/

h5.white-text {
    color: #F0AD4E;
    text-align: center;
    margin-left: 0;
}
.info {
    margin-bottom: 5px;
    padding-left: 0!important;
    text-align: center;
    font-size: 15px;
}
.social-media-list{
    display: flex;
    list-style: none;
}
.fa1 {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    padding-top: 20px;
    color: #F0AD4E;
}
.fa-2x {
    font-size: 2em!important;
}
.fp {
    padding-left: 1em;
}
.pt-5, .py-5 {
    padding-top:0!important;
}
.small{
    font-size: 92%;
}

.date-re {
    font-family: 'Open Sans', sans-serif;
    padding-top: 3em;
    font-weight: bold;
    padding-left: 0.6em;

}

.btn-rapport{
    margin-top: 2.4em;
    width: 100%;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: #f0ad4e;
    color: #FFF;
    border: none;
}

.request_description {
    font-size: 0.9em;
}

.btn-rapport:hover {
    background-color: #f84a06;
}

.row-r {
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 1em;
}

.timeR {
    margin-left: 2em;
}

.btn-pad {
    padding-top: 1em;
    padding-left: 16em;
    padding-bottom: 0!important;
}

.comment {
    width: 137%;
}

.btn-val{
    margin-top: 2.4em;
    width: 100%;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: #f0ad4e;
    color: #FFF;
    border: none;
}

.btn-val:hover {
    background-color: #f84a06;
}