@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600');
#seniorPrivate-tab-content{
    min-height: 100vh;
}

#privateSenior-tab {
    text-transform: uppercase;
    font-size: 1.5em;
    margin-bottom: 2em;
    border-radius: 0;
    border-bottom: 4px solid #193758;
    font-weight: bolder;
}

#privateSenior-tab .nav-link {
    background: #f0ad4e;
    color: #193758;
    border: 0px;
    border-radius: 0;
    border-left: 3px solid #193758;
    border-right: 3px solid #193758;
}

#privateSenior-tab li:nth-child(2) .nav-link {
    border-left: 0;
    border-right: 0;
}

#demande h3 {
    width: 100%;
    text-align: center;
    background: #f0ad4e;
    color: #193758;
    text-transform: uppercase;
    font-weight: bolder;
    height: 50px;
    line-height: 50px;
    margin-bottom: 5%;
    border-radius: 5px;
}

#newDemande{
    min-height: 100%;
}

#newDemande .btn-group .btn{
    width: 50%;
}

#newDemande h3{
    text-align: center;
    margin-bottom: 30px;
}

#newDemande-stepRow {
     height: 100vh;
}

#newDemande .progress-bar{    
    background: #f0ad4e;
    font-weight: bolder;
    font-size: 2em;
}
#newDemande-description,#newDemande-skills{    
    height: 60vh;
    margin-bottom: 30px;
}

.active-progressbar::before, .progressbarSenior li.active-progressbar:before {
    width: 40px;
    height: 40px;
    content: counter(step);
    counter-increment: step;
    line-height: 35px;
    border: 2px solid #f0ad4e;
    display: block;
    text-align: center;
    border-radius: 50%;
    background-color: #f0ad4e;
    margin: 0 auto 12px;
}

.bg-dark {
    background: #193758!important;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

.btn-connexion {
    margin: 0 0 .5em!important;
    padding: .5rem 1rem!important;
}

.btn-outline-primary {
    color: #f0ad4e;
    background-color: transparent;
    background-image: none;
    border-color: #f0ad4e;
}

.btn-outline-primary:hover {
    color: #fff;
    background-color: #F0AD4E;
    border-color: #F0AD4E;
}

.fixed-top {
    position: relative;
}

.logo {
    vertical-align: middle;
    margin-left: 19px;
    border-style: none;
}

.navbar a:hover {
    color: #fff!important;
    text-decoration: none;
}

.navbar-dark {
    color: #F0AD4E;
}

.navbar-expand-sm {
    justify-content: flex-end;
}

.new_demande {
    display: grid;
}

.request-card-senior {
    width: 330px;
    margin-bottom: 30px;
}

.request-card-senior .card-header {
    color: #f0ad4e;
    background: #193758;
    font-weight: bolder;
    text-transform: uppercase;
    font-size: 1.1em;
    text-align: center;
}

.request-card-senior .card-header {
    font-weight: bolder;
}

a, .progressbarSenior li.active-progressbar {
    color: #f0ad4e;
}

footer {
    background-color: #193758;
    color: #FFF;
    padding: 15px;
}

h5.white-text {
    color: #F0AD4E;
    text-align: center;
    margin-left: 0;
}
.alert-primary-senior{
    margin-top: 2em;
}