@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,600);
#historique {
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 50px;
}

#profil.page_junior h3 {
    margin-left: 50px;
}

#admin-tab {
    text-transform: uppercase;
    font-size: 1.5em;
    margin-bottom: 2em;
    border-radius: 0;
    border-bottom: 4px solid #193758;
    font-weight: bolder;
}

#admin-tab .nav-link {
    background: #f0ad4e;
    color: #193758;
    border: 0px;
    border-radius: 0;
    border-left: 3px solid #193758;
    border-right: 3px solid #193758;
}

#admin-tab li:nth-child(odd) .nav-link {
    border-left: 0;
    border-right: 0;
}

.Sform-down {
    padding-top: 100px;
}

.bg-faded {
    margin: 15px 15px 15px 20px;
}

.boometro {
    background-color: #8ec127;
}

.border-detailDemande {
    border-color: #f1f1f1;
    padding: 5px;
}

.btn {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    display: block;
    margin-top: 20px;
}

.btn-connexion-admin {
    margin: 0;
}

.btn-primary {
    background-color: #f0ad4e;
    border: none;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    color: #FFF;
}

.btn-primary:hover {
    background-color: #ff8351;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.btn-outline-primary {
    color: #f0ad4e;
    background-color: transparent;
    background-image: none;
    border-color: #f0ad4e;
}

.btn-outline-primary:hover {
    color: #fff;
    background-color: #F0AD4E;
    border-color: #F0AD4E;
}

.btn3 {
    -ms-transform: translate(-50%, -50%);
    background-color: #F0AD4E;
    border: none;
    border-radius: 5px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    color: #FFF;
    cursor: pointer;
    font-family: "Open Sans";
    font-size: 24px;
    font-weight: 700;
    left: 50%;
    margin-top: 10px;
    padding: 12px 24px;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
}

.cand-position {
    right: 8em;
}

.caption-dashboard {
    caption-side: top;
}

.card {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.card-body {
    font-family: 'Open Sans';
    font-size: 18px;
    line-height: 1em;
}

.card-body-junior {
    margin-left: 5px;
    padding: 0;
}

.card-footer-junior {
    background-color: #FFF;
    border-style: none;
    height: 45px;
    padding-left: 5px;
    text-decoration: none;
}

.card-header {
    display: inline;
}

.card-header-junior {
    color: #eb353a;
    font-family: 'Open Sans extraBold';
}

.card-junior {
    border: 2px solid #eb353a;
}

.center_div {
    margin: 0 30%;
    width: 80%;
}

.connexion {
    -ms-flex-align: center;
    -ms-flex-pack: center;
    -webkit-box-align: center;
    -webkit-box-pack: center;
    align-items: center;
    background-color: #f5f5f5;
    display: flex;
    height: 600px;
    justify-content: center;
    padding-bottom: 40px;
    padding-top: 40px;
}

.cont-position {
    right: 9em;
}

.eenmetro {
    background-color: #d41243;
}

.fa {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    transform: translate(0, 0);
}

.fa-map-marker, .fa-calendar-alt {
    padding-right: .5em;
}

.fas {
    float: right;
    padding-left: 1em;
}

.filtre {
    margin-left: 1.3em;
    width: 72%;
}

.fixed-top {
    position: relative;
}

.footer-candidature {
    bottom: 30px;
    right: 250px;
}

.footer-position {
    bottom: 30px;
    left: 250px;
}

.form-in {
    margin-left: 0!important;
    padding-bottom: 3em;
}

.form-signin {
    margin: 0 auto;
    max-width: 330px;
    padding: 15px;
    width: 100%;
}

.form-signin .checkbox {
    font-weight: 400;
}

.form-signin .form-control {
    box-sizing: border-box;
    font-size: 16px;
    height: auto;
    padding: 10px;
    position: relative;
}

.form-signin .form-control:focus {
    z-index: 2;
}

.form-signin input[type="email"] {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    margin-bottom: -1px;
}

.form-signin input[type="password"] {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    margin-bottom: 10px;
}

.goometro {
    background-color: #9f00a7;
}

.info {
    font-size: 15px;
    text-align: center;
}

.label_senior {
    font-size: 18px;
}

.list-group-infoS {
    -ms-flex-direction: column;
    display: flex;
    flex-direction: column;
    font-family: 'Open Sans';
    margin-bottom: 0;
    padding-left: 0;
}

.list-group-item {
    background-color: #fff;
    border: 0;
    border-color: #618b0d;
    color: #495057;
    padding-bottom: 2em;
    padding-left: 3em;
    z-index: 2;
}

.list-group-item.active {
    background-color: #f1f1f1;
    border-color: #618b0d;
    color: #495057;
    padding-bottom: 2em;
    padding-left: 3em;
    z-index: 2;
}

.location, a, .progressbarSenior li.active {
    color: #f0ad4e;
}

.logo {
    padding: 7px;
    width: 3.5em;
}

.mainNavJunior .active {
    background-color: #FFF;
    color: #193758;
}

.mainNavJunior a.nav-link, .mainNavJunior li.nav-item .active a.nav-link {
    display: block;
    padding-bottom: 10px;
    padding-top: 10px;
    text-align: center;
    width: 150px;
}

.mainNavJunior ul.navbar-nav>li {
    float: left;
}

.mainNavJunior, .mainNavJunior ul, * {
    margin: 0;
    padding: 0;
}

.mb-1.junior-match {
    margin-left: 0!important;
    margin-top: 1em;
}

.metr {
    display: table;
    height: auto;
    padding: 5px;
    width: auto;
}

.metrostyle {
    float: left;
    height: 100px;
    margin: 0 5px 0 0;
    padding: 2px;
    width: 150px;
}

.metrostylelarge {
    height: 100px;
    width: 260px;
}

.modal-title {
    line-height: 1.5;
    margin-bottom: 0;
    margin-left: 0;
}

.nav-item {
    font-family: "Open Sans";
    font-size: 1.1em;
    padding: 0;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: #ff8351;
}

.navbar {
    border-radius: 0;
    margin-bottom: 0;
}

.navbar-brand {
    justify-content: flex-start;
    margin-left: 14px;
    width: 94px;
}

.navbar-dark .navbar-nav .nav-link {
    color: #F0AD4E;
}

.navbar-expand-sm {
    justify-content: center;
}

.navbar.bg-dark {
    background: #193758!important;
}

.new_demande {
    display: grid;
}

.orgmetro {
    background-color: #603cba;
}

.page_junior {
    display: none;
}

.paragrapheSenior {
    display: inline-block;
    font-family: 'Open Sans regular';
    margin-top: 1em;
}

.profilSenior {
    margin: 0;
    padding-top: 2em;
}

.profil_div {
    margin: 50px;
}

.progressbarSenior {
    counter-reset: step;
}

.progressbarSenior li {
    color: #f0ad4e;
    float: left;
    font-family: "Open Sans";
    font-size: 15px;
    list-style-type: none;
    position: relative;
    text-align: center;
    width: 20%;
}

.progressbarSenior li.active:before {
    border-color: #f0ad4e;
}

.progressbarSenior li:after {
    background-color: #f0ad4e;
    content: '';
    height: 2px;
    left: -50%;
    position: absolute;
    top: 15px;
    width: 100%;
    z-index: -1;
}

.progressbarSenior li:before {
    background-color: #FFF;
    border: 2px solid #f0ad4e;
    border-radius: 50%;
    content: counter(step);
    counter-increment: step;
    display: block;
    height: 40px;
    line-height: 35px;
    margin: 0 auto 12px;
    text-align: center;
    width: 40px;
}

.progressbarSenior li:first-child:after {
    content: none;
}

.rappel {
    margin-top: 2em;
}

.reemetro, .progressbarSenior li.active+li:after {
    background-color: #f0ad4e;
}

.search_junior {
    float: right;
    padding-bottom: 20px;
}

.secondNav a.nav-link, li.nav-item.active a.nav-link {
    display: block;
    padding-left: 30px;
    padding-right: 30px;
    text-align: center;
}

.secondNav ul.navbar-nav.navbar-center {
    height: auto;
    left: 50%;
    position: absolute;
    transform: translatex(-50%);
}

.secondNav.navbar {
    height: 40px;
    margin: auto;
}

.secondNav.navbar .secondNav ul.navbar-nav {
    display: inline-block;
    float: none;
}

.sidenav {
    background-color: #f1f1f1;
    height: 100%;
    padding-top: 20px;
}

.subtitle-modal {
    font-weight: 500;
}

.tableau-admin {
    margin-left: 25px;
    margin-top: 20px;
    width: 72%;
}

.title-login {
    color: #f0ad4e;
    font-family: 'Open Sans extraBold';
    font-size: 25px;
    margin-bottom: 1em;
    margin-top: 1em;
}

.title-rappel {
    color: #000;
    font-family: 'Open Sans extraBold';
    font-size: 16px;
}

.title-text {
    color: #000;
    margin-top: .4em;
}

.titlePrivJunior, .carteJunior {
    margin-left: 30px;
    margin-top: 30px;
    padding: 0;
}

.title_newdemande {
    font-family: 'Open Sans extraBold';
    font-size: 25px;
}

.title_privateSenior {
    color: #f0ad4e;
    font-family: 'Open Sans';
    font-size: 25px;
}

.toometro {
    background-color: #193758;
}

.ueemetro {
    background-color: #a200ff;
}

.wrapper {
    margin: 1em;
}

.yoometro {
    background-color: #00aba9;
}

@font-face {
    font-family: FontAwesome;
    font-style: normal;
    font-weight: 400;
    src: url(../fonts/fontawesome-webfont.eot?#iefix&v=4.3.0) format(embedded-opentype), url(../fonts/fontawesome-webfont.woff2?v=4.3.0) format(woff2), url(../fonts/fontawesome-webfont.woff?v=4.3.0) format(woff), url(../fonts/fontawesome-webfont.ttf?v=4.3.0) format(truetype), url(../fonts/fontawesome-webfont.svg?v=4.3.0#fontawesomeregular) format(svg);
}

body {
    font-family: "Open Sans";
    margin: 0;
    padding: 0;
}

body h3 {
    color: #f0ad4e;
    font-family: "Open Sans ExtraBold";
    padding-bottom: 5%;
    padding-top: 2%;
    text-align: center;
}

footer {
    background-color: #193758;
    color: #FFF;
    padding: 15px;
}

form {
    margin-left: 100px;
    margin-top: 30px;
}

h5 {
    color: #f0ad4e;
    font-family: "Open Sans Semibold";
    margin-left: 1em;
    margin-top: 30px;
}

h5.white-text {
    color: #F0AD4E;
    margin-left: 0;
    text-align: center;
}

h6 {
    color: #f0ad4e;
    font-family: "Open Sans ExtraBold";
    font-size: 40px;
    padding-bottom: 1em;
    padding-left: 4.7em;
    padding-top: 4em;
}

html, body {
    font-family: 'Open Sans', sans-serif;
    height: 100%;
}

small {
    font-size: 16px;
}

@media screen and (max-width: 767px) {
    .row.content {
        height: auto;
    }
    .sidenav {
        height: auto;
        padding: 15px;
    }
}