@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600');
* {
    font-family: "Open Sans";
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
    font-family: 'Open Sans', sans-serif;
}

.title_homepage {
    font-family: "Open Sans";
    font-size: 35px;
    font-weight: 900;
    color: #f0ad4e;
    text-align: center;
    padding-bottom: 1em;
    padding-top: 1em;
}

.paragraphe {
    font-family: "Open Sans";
    font-size: 18px;
    text-align: center;
    line-height: 33px;
    padding-bottom: 3em;
    width: 60%;
    margin: 0 auto;
}

h4 {
    font-size: 23px;
    padding-bottom: 20px;
    width: 200px;
    text-align: center;
    color: #f0ad4e;
}

#img_homepage {
    background-image: url(../img/young-teaching-old.jpg);
    width: 100%;
    height: 450px;
    background-size: cover;
    background-position: 20% 20%;
    background-repeat: no-repeat;
}

.text-center {
    align-content: center;
}

.icon_color {
    color: #FFF;
}

.fa-stack {
    color: #f0ad4e;
    margin-bottom: 1em;
}

.prerequis {
    width: 100%;
    margin: 3em auto;
}

ul {
    font-size: 16px;
    list-style-type: none;
}

.btn-primary {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: #f0ad4e;
    color: #FFF;
    border: none;
}

.btn-primary:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: #ff8351;
}

.section2 {
    background-color: #f7f6f6;
    box-shadow: -1px 2px 10px 3px rgba(0, 0, 0, 0.3) inset;
    padding-top: .4em;
    padding-bottom: 3em;
}

.title-requis {
    font-family: "Open Sans";
    font-size: 35px;
    font-weight: 900;
    color: #f0ad4e;
    padding-bottom: 10px;
}

.circle-icon {
    background-color: #f0ad4e;
    background: #efad4e;
    border-radius: 50%;
    padding: 30px;
}

#btn-postulation {
    font-size: 1.5em;
    font-weight: 700;
    margin: auto;
}

body h3 {
    margin-left: 10%;
    color: #f0ad4e;
    font-family: "Open Sans";
    padding-bottom: 5%;
    padding-top: 2%;
    text-align: center;
}

body p {
    line-height: 30px;
    width: 700px;
    margin-left: 10%;
    font-size: 16px;
    padding-bottom: 50px;
}

.btn {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    display: block;
    margin: 35px;
    padding: 1rem 2rem!important;
}

.conf-text {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 4em;
}

.btn-resend {
    font-family: 'Open sans';
    font-size: 16px;
    font-weight: 700;
    margin: auto!important;
}

.comp-text {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

ul.chec-radio {
    padding-left: 4em;
    margin-left: auto;
    margin-right: auto;
}

.chec-radio label.radio-inline input[type="checkbox"]:checked+div {
    color: #fff;
    background-color: #193758;
}

.chec-radio .radio-inline .clab {
    cursor: pointer;
    background: #e7e7e7;
    text-align: center;
    color: #333;
    width: 320px;
    margin-bottom: 5px;
    font-family: "Open Sans";
    padding: 7px 15px;
}

.chec-radio label.radio-inline input[type="radio"]:checked+div {
    color: #fff;
    background-color: #000;
}

h6 {
    color: #f0ad4e;
    font-family: "Open Sans";
    font-weight: 900;
    font-size: 40px;
    padding-left: 4.7em;
    padding-bottom: 1em;
    padding-top:4em;
}

.pad {
    padding-bottom: 20px;
}

.center_div {
    width: 80%;
    align-content: center;
    padding-bottom: 1em;
    margin: 0 30% 0 25em;
}

.connexion {
    display: flex;
    -ms-flex-align: center;
    -ms-flex-pack: center;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    padding-bottom: 40px;
    background-color: #f5f5f5;
    height: 600px;
}

.form-signin {
    width: 100%;
    max-width: 330px;
    margin: 0 auto;
    padding: 15px;
}

.form-signin .form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
    font-size: 16px;
    padding: 10px;
}

.form-signin .form-control:focus {
    z-index: 2;
}

.form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.title-login {
    margin-bottom: 1em;
    font-family: 'Open Sans';
    font-weight: 900;
    color: #f0ad4e;
    font-size: 25px;
}

.profil_div {
    margin: 50px;
}

#historique {
    margin-top: 50px;
    margin-left: 50px;
    margin-right: 50px;
}

.card {
    border-color: #f1f1f1;
}

.card-footer {
    height: 45px;
    padding-left: 5px;
    background-color: #FFF;
    text-decoration: none;
    color: #f0ad4e;
    font-size: 30px;
    text-align: center;
    border-style: none;
}

.bg-faded {
    margin: 15px 15px 15px 20px;
}

.card-body {
    margin-left: 0!important;
    height: 100%;
    padding: 0;
}

.secondNav.navbar .secondNav ul.navbar-nav {
    display: inline-block;
    float: none;
}

.secondNav ul.navbar-nav.navbar-center {
    position: absolute;
    left: 50%;
    transform: translatex(-50%);
    height: auto;
}

.secondNav.navbar {
    height: 40px;
    margin: auto;
}

.secondNav a.nav-link, li.nav-item.active a.nav-link {
    text-align: center;
    display: block;
    padding-left: 30px;
    padding-right: 30px;
}

.logo {
    vertical-align: middle;
    margin-left: 19px;
    width: 3.5em;
    border-style: none;
    padding: 7px;
}

body {
    font-family: "Open Sans";
    width: 100%;
    margin: 0;
    padding: 0;
}

h4 .conf-title {
    font-family: "Open Sans";
    margin-left: 100px;
    margin-top: 120px;
}

.ok {
    padding-left: 0!important;
}

#btn {
    padding-bottom: 2em;
}

h5 {
    font-family: "Open Sans";
    color: #f0ad4e;
    margin-left: 100px;
    margin-top: 30px;
    text-align: center;
}

form {
    margin-left: 100px;
    margin-top: 30px;
}

.Sform-down {
    padding-top: 100px;
}

.title-text {
    margin-left: 0!important;
    margin-top: .4em;
    color: #000;
}

.block {
    background-color: #f7f6f6;
    padding-top: 10px;
    padding-bottom: 30px;
}

.col-centered {
    float: none;
    vertical-align: text-top;
    margin-left: auto;
    margin-right: auto;
    display: table;
}

.icon-color-cap {
    color: silver;
}

.text-bottom {
    vertical-align: bottom;
}

.card-header {
    color: #FFF;
    background-color: #193758;
    font-size: 20px;
    text-align: center;
}

.card-mod {
    margin-bottom: 1em;
    padding-left: 1em;
}

.card-deck {
    padding-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
}

.card-text {
    text-align: center;
}
.card-title{
    font-weight: 900;
}

.agents {
    width: 220px;
    margin-left: auto;
    margin-right: auto;
}

.agents-fond {
    background-color: #e5e5e5;
}

.row {
    margin-top: 30px;
}

div.container.services p {
    margin: 0;
}

.services {
    padding-top: 4em;
    padding-bottom: 3em;
}

.icon-box {
    padding-top: 30px;
}

h2 {
    color: #f0ad4e;
    font-family: "Open Sans";
    font-weight: 900;
    font-size: 23px;
    padding-top: 1em;
}

.expl {
    font-size: 16px;
}

.centered {
    margin-left: 3em!important;
    margin-right: 3em!important;
}

.row-pad {
    margin-top: 80px;
}

.row-agent {
    margin-top: 5em;
    display: flex;
    margin-left: 2em;
    padding-bottom: 30px;
}

.row3 {
    margin-top: 5em;
    display: flex;
    margin-left: -16em;
    padding-bottom: 30px;
}

.row-serv {
    display: flex;
    margin-left: -15px;
}

.serv-pad {
    padding-left: 4em!important;
}

#btn-inscription {
    align-content: flex-end;
    font-size: 1.5em;
    font-weight: 700;
    margin-right: auto;
    margin-left: auto;
}

.serv-sec {
    font-size: 1.1em!important;
    margin-left: 0!important;
}

.shadow {
    box-shadow: -1px 2px 10px 3px rgba(0, 0, 0, 0.3) inset;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

.fa-stack-1x {
    line-height: initial!important;
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 0;
}

.card-deck .card {
    min-width: 220px;
    border-color: #e5e5e5!important;
}

.list-unstyled {
    list-style: none;
    padding: 1em;
}

.card-box-title {
    padding-top: 30px;
    position: relative;
    padding-left: 130px;
    padding-right: 130px;
}

.circle-icon-formation {
    background: #b3b2b2;
    border-radius: 50%;
    padding: 30px;
}

.circle-icon-dispo {
    background: #ea5b0c;
    border-radius: 50%;
    padding: 30px;
}

.circle-icon-competent {
    background: #efad4e;
    border-radius: 50%;
    padding: 30px;
}

.marketing .col-lg-4 {
    margin-bottom: 1.5rem;
    text-align: center;
}

.paragraphe-infos {
    width: 100%;
    margin-left: 0;
}

.row-infos {
    margin-left: auto;
    margin-right: auto;
    margin-top: 1em;
}

.navbar {
    margin-bottom: 0;
    border-radius: 0;
    height: 80px;
}

.sidenav {
    padding-top: 20px;
    background-color: #f1f1f1;
    height: 100%;
}

footer {
    background-color: #193758;
    color: #FFF;
    padding: 15px;
}

.navbar-brand>img {
    height: 100%;
    width: auto;
    padding: 15px;
}

.navbar-brand {
    display: inline-block;
    padding-top: .3em;
    padding-bottom: 0;
    margin-right: 1rem;
    font-size: 1.5rem;
    line-height: inherit;
    white-space: nowrap;
    justify-content: flex-start;
    width: 94px;
    margin-left: 14px;
}

.fixed-top {
    position: fixed!important;
}

.navbar-expand-sm {
    justify-content: flex-end;
}

.nav-item {
    font-family: "Open Sans";
    font-size: 1.1em;
    padding: 20px;
}

.row1 {
    display: flex;
    margin-left: -5em;
    padding-bottom: 30px;
}

.row-h {
    box-sizing: border-box;
    padding-top: 40px;
}

.this {
    padding-bottom: 40px;
}

h1 {
    color: #F0AD4E;
    margin-bottom: .6em;
}

.card-deck-h {
    margin-top: 3em;
    margin-left: 15em;
    margin-right: 15em;
}

#firstTitle {
    margin-left: 3.8em;
}

#secondTitle {
    margin-left: 1.7em;
}

h5.block-title {
    font-size: 22px;
    margin-left: 5px;
}

h5.card-text {
    font-size: 17px;
    color: #193758;
    margin: 1.5em;
}

h5-h {
    font-family: "Open Sans";
    color: #f0ad4e;
    text-align: center;
}

.card-box {
    padding-bottom: 80px;
}

.slideTitle {
    opacity: 1;
}

.carousel-inner>.item>img, .carousel-inner>.item>a>img {
    width: 70%;
    margin: auto;
}
.carousel-img{
    max-height: 650px;
}
.text-center1 {
    text-align: center!important;
    margin-left: auto;
    margin-right: auto;
}

.titleblock {
    padding-bottom: 25px;
    padding-top: 40px;
}

p.agents-h {
    padding-top: 20px;
    width: 250px;
    font-size: 17px;
    color: #193758;
    font-family: "Open Sans";
}

.fp {
    padding-left: 1em;
}

.fa1 {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    padding-top: 20px;
    color: #F0AD4E;
}

.footer-position {
    left: 250px;
    bottom: 30px;
}

.btn3 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #F0AD4E;
    color: #FFF;
    font-family: "Open Sans";
    font-weight: 700;
    font-size: 24px;
    margin-top: 10px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 12px 24px;
}

.footer-candidature {
    right: 250px;
    bottom: 30px;
}
/*réseaux sociaux*/
.social-media-list{
    display: flex;
}
.info {
    margin-bottom: 5px;
    padding-left: 0!important;
    text-align: center;
    font-size: 15px;
}

.info-text {
    margin-left: 0;
}

.footer-contact {
    bottom: 30px;
}

.intro {
    font-family: 'Open Sans';
    font-size: 34px;
    font-weight: 900;
}

.intro-text {
    width: 50%;
    margin: 0 auto;
}

.pretations {
    max-width: 960px;
    align-content: center;
}

.pricing-header {
    max-width: 700px;
}

.hotline {
    background-color: #F0AD4E;
}

.home {
    background-color: #b3b2b2;
}

.special {
    background-color: #ea5b0c;
}

.table {
    width: 60%;
    max-width: 100%;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    font-size: 16px;
}

.fa-check {
    color: #32CD32;
}

i {
    padding-left: 10px;
    padding-right: 10px;
}

.bar-progress {
    padding-top: 7em;
}

.conf-text-dispo {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 2em;
}

.navbar a:hover {
    color: #fff!important;
    text-decoration: none;
}

.d-flex {
    display: flex!important;
    padding-bottom: 2em;
}

.p-3 {
    padding: 0!important;
}

.text-dark {
    color: #F0AD4E!important;
}

h5.white-text {
    color: #F0AD4E;
    text-align: center;
    margin-left: 0;
}

.btn-connexion {
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 0em;
    margin-right: 2em;
    padding: .5rem 1rem!important;
}

.btn-outline-primary {
    color: #f0ad4e;
    background-color: transparent;
    background-image: none;
    border-color: #f0ad4e;
}

.btn-outline-primary:hover {
    color: #fff;
    background-color: #F0AD4E;
    border-color: #F0AD4E;
}

.mb-3, .my-3 {
    margin-bottom: 0!important;
}

.topnav-right {
    float: right!important;
}

.container-progressbar {
    width: 1000px;
    margin-top: 8em;
}

.progressbar li.active:before {
    border-color: #f0ad4e;
}
.progress{
    font-size: 1em;
    margin-bottom: 2em;
    margin-top: 2em;
}
.progress-bar {
    background-color: #f0ad4e;
}
.card-junior {
    border-color: #9acfea;
}

.card-footer-junior {
    height: 45px;
    text-decoration: none;
    background-color: #FFF;
    padding-left: 5px;
    border-style: none;
}

.form-control {
    width: 100%!important;
}

.col-sm-2 {
    padding-left: 0;
    padding-right: 0;
}

form .btn {
    margin: 0!important;
}

.title-form {
    padding-top: 6em;
}

.center-div {
    padding-left: 30%;
    margin: auto;
}

.title_contact {
    margin-top: 1em;
    font-family: 'Open Sans';
    color: #f0ad4e;
    font-size: 25px;
}

.p_contact {
    margin: 0;
    padding: 0;
}

.bg-grey {
    background-color: #f6f6f6;
}

.container-fluid-contact {
    padding: 4px 50px;
}

.btn-contact {
    background-color: #f0ad4e;
    color: #FFF;
}

.profilJunior-summary {
    padding-top: 2em;
    margin: 0;
}

.title_juniorSummary {
    color: #f0ad4e;
    font-family: 'Open Sans';
    font-size: 25px;
}

.row.profilJ {
    margin-top: 50px;
}

.card-summaryJ {
    display: block;
}

h4.card-title {
    width: 100%;
}

.text-infoG {
    color: #6c757d;
    font-size: 14px;
    padding-left: 1em;
}

.radio-inline {
    display: inline-block;
    margin-bottom: 1em;
}

#btn-postulation:hover, a:hover {
    text-decoration: none;
}

.conf-title, .title-knowledges, .title-dispo {
    font-family: "Open Sans";
    font-weight: 900;
    font-size: 35px;
    color: #f0ad4e;
    text-align: center;
    padding-bottom: 40px;
    padding-top: 3em;
    margin-left: auto;
    margin-right: auto;
}

.confirmation, .form-in {
    padding-bottom: 3em;
}

ul.chec-radio li.pz, .ulInline, nav {
    display: inline;
}

.chec-radio label.radio-inline input[type="checkbox"], .chec-radio label.radio-inline input[type="radio"], .page, .page_junior {
    display: none;
}

.chec-radio label.radio-inline input[type="checkbox"]:checked+div:before, .chec-radio label.radio-inline input[type="radio"]:checked+div:before {
    content: "\e013";
    margin-right: 5px;
    font-family: 'Glyphicons Halflings';
}

.form-signin .checkbox, .marketing h2 {
    font-weight: 400;
}

#profil.page h3, #profil.page_junior h3 {
    margin-left: 50px;
}

.search, .search_junior {
    float: right;
    padding-bottom: 20px;
}

.mainNav .active, .mainNavJunior .active {
    background-color: #FFF;
    color: #193758;
}

.mainNav, .mainNav ul, .mainNavJunior, .mainNavJunior ul {
    margin: 0;
    padding: 0;
}

.mainNav ul.navbar-nav>li, .mainNavJunior ul.navbar-nav>li {
    float: left;
}

.mainNav a.nav-link, .mainNav li.nav-item .active a.nav-link, .mainNavJunior a.nav-link, .mainNavJunior li.nav-item .active a.nav-link {
    text-align: center;
    display: block;
    width: 150px;
    padding-top: 10px;
    padding-bottom: 10px;
}

h3, .carte, .titlePrivJunior, .carteJunior {
    margin-left: 30px;
    margin-top: 30px;
    padding: 0;
}

.icon-background, .icon-color-skills, .progressbarSenior li.active-progressbar, .progressbar li.active, .text-orange {
    color: #f0ad4e;
}

.title-senior, #sei {
    font-family: "Open Sans";
    font-size: 35px;
    font-weight: 900;
    color: #f0ad4e;
    text-align: center;
    padding-bottom: 40px;
    margin-left: auto;
    margin-right: auto;
}
.title-senior-service{
    font-family: 'Open Sans';
    font-size: 35px;
    font-weight: 900;
    color: #f0ad4e;
    text-align: center;
    padding-bottom: 40px;
    padding-top: 1em;
    margin-left: auto;
    margin-right: auto;
}
.titre-service{
    padding-top:0;
    font-weight: 900!important;
}
.icon-color-clock, .fa-times {
    color: #ff8351;
}

.card-body-h, .card-body-junior {
    margin-left: 5px;
    padding: 0;
}

.card-title-formation, h5.card-title {
    font-size: 24px;
    margin-left: 0;
}

.navbar.bg-dark, .bg-dark {
    background: #193758!important;
}

.navbar-dark .navbar-nav .nav-link, .white-text {
    color: #F0AD4E;
}

.column1, .column2 {
    position: relative;
    float: left;
    flex: 50%;
    padding-right: 5px;
}

.column1 #btn1, .column2 #btn2 {
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #F0AD4E;
    color: #FFF;
    font-family: "Open Sans";
    font-weight: 700;
    font-size: 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 12px 24px;
}

.progressbarSenior, .progressbar {
    counter-reset: step;
}

.progressbarSenior li, .progressbar li {
    list-style-type: none;
    width: 20%;
    float: left;
    font-size: 15px;
    position: relative;
    text-align: center;
    color: #f0ad4e;
    font-family: "Open Sans";
}

#active-progressbar::before, .progressbarSenior li.active-progressbar:before {
    width: 40px;
    height: 40px;
    content: counter(step);
    counter-increment: step;
    line-height: 35px;
    border: 2px solid #f0ad4e;
    display: block;
    text-align: center;
    border-radius: 50%;
    background-color: #f0ad4e;
    margin: 0 auto 12px;
}

.progressbarSenior li:before, .progressbar li:before {
    width: 40px;
    height: 40px;
    content: counter(step);
    counter-increment: step;
    line-height: 35px;
    border: 2px solid #f0ad4e;
    display: block;
    text-align: center;
    border-radius: 50%;
    background-color: #FFF;
    margin: 0 auto 12px;
}

.progressbarSenior li:after, .progressbar li:after {
    width: 100%;
    height: 2px;
    content: '';
    position: absolute;
    background-color: #f0ad4e;
    top: 15px;
    left: -50%;
    z-index: -1;
}

.progressbarSenior li:first-child:after, .progressbar li:first-child:after {
    content: none;
}

.progressbarSenior li.active-progressbar+li:after, .progressbar li.active+li:after {
    background-color: #f0ad4e;
}

.btn-pad, #sect2 {
    padding-top: 2em;
}

@media screen and (max-width:767px) {
    .sidenav {
        height: auto;
        padding: 15px;
    }
    .row.content {
        height: auto;
    }
}

@media (min-width:768px) {
    html {
        font-size: 16px;
    }
}

@media (min-width: 768px) {
    .pr-md-4, .px-md-4 {
        padding-right: 1.5rem!important;
    }
    .mr-md-auto, .mx-md-auto {
        margin-right: auto!important;
    }
}

.title-postulation{
    margin-left:auto;
    margin-right:auto;
    text-align: center;
    padding-left:0;
}
.title-seniorform{
    padding-top: 1em;
}