/*!
 *  Font Awesome 4.3.0 by @davegandy - http://fontawesome.io - @fontawesome
 *  License - http://fontawesome.io/license (Font: SIL OFL 1.1, CSS: MIT License)
 */
/* FONT PATH
 * -------------------------- */
 @font-face {
    font-family: 'FontAwesome';
    src: url('../fonts/fontawesome-webfont.eot?v=4.3.0');
    src: url('../fonts/fontawesome-webfont.eot?#iefix&v=4.3.0') format('embedded-opentype'), url('../fonts/fontawesome-webfont.woff2?v=4.3.0') format('woff2'), url('../fonts/fontawesome-webfont.woff?v=4.3.0') format('woff'), url('../fonts/fontawesome-webfont.ttf?v=4.3.0') format('truetype'), url('../fonts/fontawesome-webfont.svg?v=4.3.0#fontawesomeregular') format('svg');
    font-weight: normal;
    font-style: normal;
  }
.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    transform: translate(0, 0);
   }
.metr {
    width: auto;
    padding: 5px;
    height: auto;
    display: table;
}

 .metrostyle {
    height: 100px;
    width: 150px;
    float: left;
    margin: 0 5px 0 0;
    padding: 2px;
}
.wrapper{
    margin: 1em;
}

          .metrostylelarge {
              width: 260px;
              height: 100px;
          }
          .orgmetro {
              background-color: #603cba;
          }

          .ueemetro {
              background-color: #a200ff;
          }

          .reemetro {
              background-color: #f0ad4e;
          }

          .eenmetro {
              background-color: #d41243;
          }

          .boometro {
              background-color: #8ec127;
          }

          .goometro {
              background-color: #9f00a7;
          }

          .yoometro {
              background-color: #00aba9;
          }

          .toometro {
              background-color: #193758;
          }

        .list-group-item{
            border:0px;
        }
        .card-body{
            line-height: 1em;
            font-family: 'Open Sans';
            font-size: 18px;
        }
        .card{
          box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
        }

        small{
            font-size: 16px;
        }
        .title_privateSenior{
          color: #f0ad4e;
          font-family: 'Open Sans';
          font-size: 25px;
        }
        .title_newdemande{
          font-family: 'Open Sans extraBold';
          font-size: 25px;
        }
        .profilSenior{
            padding-top: 2em;
            margin: 0px;
        }
        .paragrapheSenior {
            font-family: 'Open Sans regular';
            display: inline-block;
            margin-top: 1em;
        }
        a {
            color: #f0ad4e;
        }
        .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
            color: #ff8351;
        }
        .card-header{
            display: inline;
        }
        .fas {
            float: right;
            padding-left: 1em;
        }

        /* Remove the navbar's default margin-bottom and rounded borders */
        .navbar {
            margin-bottom: 0;
            border-radius: 0;
            height: 80px;
        }

        .navbar.bg-dark {
            background: #193758!important;
        }

        /* Set height of the grid so .sidenav can be 100% (adjust as needed) */

        /* Set gray background color and 100% height */
        .sidenav {
            padding-top: 20px;
            background-color: #f1f1f1;
            height: 100%;
        }

        /* Set black background color, white text and some padding */
        footer {
            background-color: #193758;
            color: white;
            padding: 15px;
        }

        /* On small screens, set height to 'auto' for sidenav and grid */
        @media screen and (max-width: 767px) {
            .sidenav {
                height: auto;
                padding: 15px;
            }
            .row.content {height:auto;}
        }

        .navbar-brand {
            justify-content: flex-start;
            width: 94px;
            margin-left: 14px;
        }


        .navbar-expand-sm {
            justify-content: flex-end;
        }

        .fixed-top {
            position:relative;
        }

        .nav-item {
            padding: 0;
            font-family: "Open Sans";
            font-size: 1.1em;
        }

        .navbar-dark .navbar-nav .nav-link{
            color: #F0AD4E;
        }
        h5.white-text {
            color: #F0AD4E;
            text-align: center;
            margin-left: 0;
        }

        .cand-position {
            right: 8em;
        }


        .navbar-expand-sm {
            justify-content: center;
        }

        .footer-position{
            left:250px;
            bottom: 30px;
        }

        .btn3 {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
            background-color: #F0AD4E;
            color: white;
            font-family: "Open Sans";
            font-weight: bold;
            font-size: 24px;
            margin-top: 10px;
            padding: 12px 24px;
            border: none;
            cursor: pointer;
            border-radius: 5px;
            box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
        }

        .footer-candidature {
            right:250px;
            bottom: 30px;
        }

        .info{
            text-align: center;
            font-size: 15px;
        }

        .cont-position {
            right:9em;
        }

        /* demandes Senior*/
        .page_junior {
            display: none;
        }

        .profil_div {
            margin-left: 50px;
            margin-right: 50px;
            margin-top: 50px;
            margin-bottom: 50px;
        }

        #profil.page_junior h3 {
            margin-left: 50px;
        }

        #historique {
            margin-top: 50px;
            margin-left: 50px;
            margin-right: 50px;
        }

        .search_junior {
            float: right;
            padding-bottom: 20px;
        }
        /*##############################FIRST NAVBAR#######################################################*/

        .mainNavJunior .active {
            background-color: white;
            color: #193758;
        }

        .mainNavJunior, .mainNavJunior ul {
            padding: 0;
            margin: 0;
        }

        .mainNavJunior ul.navbar-nav > li{
            float:left;
        }

        .mainNavJunior a.nav-link, .mainNavJunior li.nav-item .active a.nav-link {
            text-align: center;
            display:block;
            width: 150px;
            padding-top: 10px;
            padding-bottom: 10px;

        }

        /*##############################CARDS#######################################################*/


        .titlePrivJunior, .carteJunior {
            margin-left: 30px;
            margin-top: 30px;
            padding: 0;
        }

        .card-junior{
          border: 2px solid #eb353a;
        }

        .card-footer-junior{
            height:45px;
            text-decoration: none;
            border-style: none;
            background-color: white;
            padding-left: 5px;
        }


        .bg-faded {
            margin-left: 20px;
            margin-right: 15px;
            margin-top: 15px;
            margin-bottom: 15px;
        }

        .card-body-junior {
            padding:0;
            margin-left: 5px;
        }
        .card-header-junior{
        font-family: 'Open Sans extraBold';
        color: #eb353a;
        }

        /*##############################SECOND NAVBAR#######################################################*/


        .secondNav.navbar .secondNav ul.navbar-nav {
            display: inline-block;
            float: none;
        }

        .secondNav ul.navbar-nav.navbar-center {
            position: absolute;
            left: 50%;
            transform: translatex(-50%);
            height: auto;
        }

        .secondNav.navbar {
            margin: auto;
            height: 40px;
        }

        .secondNav a.nav-link, li.nav-item.active a.nav-link {
            text-align: center;
            display:block;
            padding-left: 30px;
            padding-right: 30px;
        }
            /*Progress bar*/
            *{
              padding:0;
              margin: 0;
          }
          .progressbarSenior {
              counter-reset: step;
          }
          .progressbarSenior li {
              list-style-type: none;
              width: 20%;
              float: left;
              font-size: 15px;
              position: relative;
              text-align: center;
              color: #f0ad4e;
              font-family: "Open Sans";
          }
          .progressbarSenior li:before {
              width: 40px;
              height: 40px;
              content: counter(step);
              counter-increment: step;
              line-height: 35px;
              border: 2px solid #f0ad4e;
              display: block;
              text-align: center;
              margin: 0 auto 12px auto;
              border-radius: 50%;
              background-color: white;
          }
          .progressbarSenior li:after {
              width: 100%;
              height: 2px;
              content: '';
              position: absolute;
              background-color: #f0ad4e;
              top: 15px;
              left: -50%;
              z-index: -1;
          }
          .progressbarSenior li:first-child:after {
              content: none;
          }
          .progressbarSenior li.active {
              color: #f0ad4e;
          }
          .progressbarSenior li.active:before {
              border-color: #f0ad4e;
          }
          .progressbarSenior li.active + li:after {
              background-color: #f0ad4e;
          }
        .new_demande{
          display: grid;
        }
        .label_senior{
          font-size: 18px;
        }
        .tableau-admin{
            width: 72%;
            margin-left:25px;
            margin-top:20px;
        }

        .caption-dashboard{
            caption-side:top;
        }
.filtre{
    width: 72%;
    margin-left: 1.3em;
}


/* Senior formulaire*/

body {
    margin: 0;
    padding: 0;
    font-family: "Open Sans";
}

h5 {
    font-family: "Open Sans Semibold";
    color: #f0ad4e;
    margin-left: 1em;
    margin-top: 30px;
}

form {
    margin-left: 100px;
    margin-top: 30px;
}

.btn-primary {
    color: white;
    background-color: #f0ad4e;
    border: none;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.btn-primary:hover {
    background-color: #ff8351;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
btn-outline-secondary {
    color: white;
    background-color: #F0AD4E;
    background-image: none;
    border-color: #F0AD4E;
}
.btn {
    margin-top: 20px;
    display: block;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.Sform-down {
    padding-top: 100px;
}

h6 {
    color: #f0ad4e;
    font-family: "Open Sans ExtraBold";
    font-size: 40px;
    padding-top: 2%;
    padding-left: 4.7em;
    padding-bottom: 1em;
    padding-top: 4em;
}

.form-in {
    padding-bottom: 3em;
    margin-left: 0!important;
}
.title-text{
    margin-top: 0.4em;
    color:  black;
}
.title-rappel{
    color: black;
    font-size:16px;
    font-family: 'Open Sans extraBold';
}
.rappel{
    margin-top: 2em;
}
.list-group-item.active {
    z-index: 2;
    color:#495057;
    background-color: #f1f1f1;
    border-color: #618b0d;
    padding-left: 3em;
    padding-bottom: 2em;
}
.list-group-item{
    z-index: 2;
    color:#495057;
    background-color: #fff;
    border-color: #618b0d;
    padding-left: 3em;
    padding-bottom: 2em;
}
.mb-1.junior-match{
    margin-left:0!important;
    margin-top:1em;
}

.btn.adminBtn {
    margin-top: 0;
}

.btn.btnSenior {
    box-shadow: none;
    margin-top: 0;
}

.btn.btnDemande {
    margin-top: 0;
    box-shadow: none;
    margin-right: 10px;
    border-radius: .25rem;
}

.btn.btnDetail {
    margin-top: 0;
    box-shadow: none;
    border-radius: .25rem;
}

.logo{
    width: 3.5em;
    padding: 7px;
  }
      