.fa-map-marker{
    padding-right: 0.5em;
}
.fa-calendar-alt{
    padding-right: 0.5em;
}
.location{
    color: #f0ad4e;
}
.list-group-infoS {
    font-family: 'Open Sans';
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
}
.list-group-item{
    z-index: 2;
    color:#495057;
    background-color: #f1f1f1;
    border-color: #618b0d;
    padding-left: 3em;
    padding-bottom: 2em;
}
.alert-primary {
    margin-top: 2em;
}