*{
    padding:0;
    margin: 0;
}
html, body{
    font-family: 'Open Sans', sans-serif;

}
body h3{
    color: #f0ad4e;
    font-family: "Open Sans ExtraBold";
    padding-bottom: 5%;
    padding-top:2%;
    text-align: center;
}

.btn-primary{
    background-color: #f0ad4e;
    color: white;
    border:none;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
.btn-primary:hover{
    background-color: #ff8351;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
.btn {
    display: block;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
.center_div{
    margin: 0 30%;
    width:80%;
}

html,
body {
  height: 100%;
}

.connexion {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-align: center;
  -ms-flex-pack: center;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #f5f5f5;
  height: 600px;
}

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .checkbox {
  font-weight: 400;
}
.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.title-login {
    margin-top: 1em;
    margin-bottom: 1em;
    font-family: 'Open Sans extraBold';
    color: #f0ad4e;
    font-size: 25px;
}
.btn-connexion-admin{
    margin:0;
}