.title_contact{
    margin-top: 1em;
    font-family: 'Open Sans extraBold';
    color: #f0ad4e;
    font-size: 25px;
}
.p_contact{
    margin:0;
    padding:0;
}
.bg-grey {
    background-color: #f6f6f6;
}
.container-fluid-contact{
    padding: 4px 50px;
}
.form-control {
    width: 100%!important;
}
.btn-contact{
    background-color: #f0ad4e;
    color: white;
}