/* Remove the navbar's default margin-bottom and rounded borders */ 
.navbar {
    margin-bottom: 0;
    border-radius: 0;
    height: 80px;
}

.navbar.bg-dark {
    background: #193758!important;
}

/* Set height of the grid so .sidenav can be 100% (adjust as needed) */

/* Set gray background color and 100% height */
.sidenav {
    padding-top: 20px;
    background-color: #f1f1f1;
    height: 100%;
}

/* Set black background color, white text and some padding */
footer {
    background-color: #193758;
    color: white;
    padding: 15px;
}

/* On small screens, set height to 'auto' for sidenav and grid */
@media screen and (max-width: 767px) {
    .sidenav {
        height: auto;
        padding: 15px;
    }
    .row.content {height:auto;} 
}

.navbar-brand>img {
    height: 100%;
    padding: 15px; /* firefox bug fix */
    width: auto;
  }
.navbar-brand {
    display: inline-block;
    padding-top: 0;
    padding-bottom: 0;
    margin-right: 1rem;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap;
}

.fixed-top {
    position: fixed!important;
}

.navbar-expand-sm {
    justify-content: flex-end;
}


.nav-item {
    padding: 20px;
    font-family: "Open Sans";
    font-size: 1.1em;
}

.navbar-dark .navbar-nav .nav-link{
    color: #F0AD4E;
}


/* Image Junior + Senior */
.column1 {
    position:relative;
    float:left;
    flex: 50%;
    padding-right: 5px;
}

.column2 {
    position:relative;
    float:left;
    flex: 50%;
    padding-right: 5px;
}

* {
    font-family: "Open Sans";
}

.column1 #btn1 {
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #F0AD4E;
    color: white;
    font-family: "Open Sans";
    font-weight: bold;
    font-size: 24px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.column2 #btn2 {
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #F0AD4E;
    color: white;
    font-family: "Open Sans";
    font-weight: bold;
    font-size: 24px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}



.row1 {
    margin-top: 5em;
    display: -ms-flexbox;
    display: flex;
    margin-left: -5em;
    padding-bottom: 30px;
}
.row-h {
    box-sizing: border-box;
    padding-top: 40px;
}
.this {
    padding-bottom: 40px;
}

h1 {
    color: #F0AD4E;
    margin-bottom: 0.6em;
}



/* Slideshow */
.card-deck-h {
    margin-top: 3em; 
    margin-left: 15em;
    margin-right: 15em;
}

#firstTitle {
    margin-left: 3.8em;
}

#secondTitle {
    margin-left: 1.7em;
}

.card-body-h {
    padding:0;
    margin-left: 5px;
}

h5.block-title {
    font-size: 22px;
    margin-left: 5px;
}


h5.card-title {
    font-size: 24px;
    margin-left: 0px;
}

h5.card-text {
    font-size: 17px;
    color: #193758;
    margin: 1.5em;
}

h5-h {
    font-family: "Open Sans Semibold";
    color: #f0ad4e;
    text-align: center;
}

.card-box {
    padding-bottom: 80px;
}

.card-box-title {
    padding-top: 30px;
    position: relative;
    padding-left: 130px;
    padding-right: 130px;
}


.slideTitle {
    opacity: 1;
}

.carousel-inner > .item > img,
  .carousel-inner > .item > a > img {
      width: 70%;
      margin: auto;

  }
.carousel-inner{
    max-height: 700px;
}
/* Des agents de confiances*/

.icon-color-clock {
    color: #ff8351;
}

.icon-color-cap {
    color: #c0c0c0;
}

.icon-color-skills {
    color: #f0ad4e;
}
.icon_color {
    color: white;
}
.block {
    padding-top: 10px;
    padding-bottom: 30px;
}



.col-centered {
    float: none;
    vertical-align: text-top;
    margin-left: auto;
    margin-right: auto;
    display: table;
}

.text-center1 {
    text-align: center!important;
    margin-left: auto;
    margin-right: auto;
}

.titleblock {
    padding-bottom: 25px;
    padding-top: 40px;
}

p.agents-h{
    padding-top: 20px;
    width: 250px;
    font-size: 17px;
    color: #193758;
    font-family: "Open Sans Semibold";
}


.ulInline {
    display: inline;
}

.fp {
    padding-left: 1em;
}

.fa1 {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    padding-top: 20px;
    color:#F0AD4E;
}


/* Footer */
.white-text {
    color: #F0AD4E;
}


.navbar-expand-sm {
    justify-content: center;
}

.footer-position{
    bottom: 30px;
}

.btn3 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #F0AD4E;
    color: white;
    font-family: "Open Sans";
    font-weight: bold;
    font-size: 24px;
    margin-top: 10px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.footer-candidature {
    right:250px;
    bottom: 30px;
}

.info{
    text-align: center;
    margin-bottom:  5px;
    font-size: 15px;
    padding-left: 0!important;
}

.info-text{
    margin-left: 0;
}

.footer-contact {
    bottom: 30px;
}

.intro{
    font-family: 'Open Sans extraBold';
    font-size: 34px;
}
.intro-text{
    margin: 0;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}
.shadow{
    box-shadow: -1px 2px 10px 3px rgba(0, 0, 0, 0.3) inset;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}
.pretations{
  max-width: 960px;
  align-content: center;
}

.pricing-header {
  max-width: 700px;
}

.card-deck .card {
  min-width: 220px;
  border-color: #e5e5e5!important;
}

.border-top { border-top: 1px solid #e5e5e5; }
.border-bottom { border-bottom: 1px solid #e5e5e5; }

.box-shadow { box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); }

.hotline{
    background-color: #F0AD4E;
}
.home{
    background-color: #b3b2b2;
}
.special{
    background-color: #ea5b0c;
}
.agents-fond{
    background-color: #e5e5e5;
}
.list-unstyled {
    padding-left: 0;
    padding: 1em;
    list-style: none;
}
.circle-icon-formation {
    background: #b3b2b2;
    padding:30px;
    border-radius: 50%;
}
.circle-icon-dispo {
    background: #ea5b0c;
    padding:30px;
    border-radius: 50%;
}
.circle-icon-competent {
    background: #efad4e;
    padding:30px;
    border-radius: 50%;
}
.fa-stack-1x {
    line-height: initial!important;
}
.logo{
    width: 3.5em;
    padding: 7px;
}