*{
    padding:0;
    margin: 0;
}
html, body{
    font-family: 'Open Sans', sans-serif;
}

body p{
    margin-left: 10%;
    font-size: 16px;
    padding-bottom: 50px;
}

.table {
    width: 60%;
    max-width: 100%;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    font-size: 16px;
}

.btn-primary{
    background-color: #f0ad4e;
    color: white;
    border:none;
}
.btn-primary:hover{
    background-color: #ff8351;
}
.btn {
    display: inline-block;
    margin-left: 10%;
    margin-top: 20px;
}
.icon_color{
    color: white;
}
.fa-times{
    color: #ff8351;
}
.fa-check{
    color: limegreen;
}
i{
    padding-left: 10px;
    padding-right: 10px;
}

/*Progress bar*/
.progressbarSenior {
    counter-reset: step;
}
.progressbarSenior li {
    list-style-type: none;
    width: 20%;
    float: left;
    font-size: 15px;
    position: relative;
    text-align: center;
    color: #f0ad4e;
    font-family: "Open Sans";
}
#active-progressbar::before{
      width: 40px;
      height: 40px;
      content: counter(step);
      counter-increment: step;
      line-height: 35px;
      border: 2px solid #f0ad4e;
      display: block;
      text-align: center;
      margin: 0 auto 12px auto;
      border-radius: 50%;
      background-color: #f0ad4e;
  }
.progressbarSenior li:before {
    width: 40px;
    height: 40px;
    content: counter(step);
    counter-increment: step;
    line-height: 35px;
    border: 2px solid #f0ad4e;
    display: block;
    text-align: center;
    margin: 0 auto 12px auto;
    border-radius: 50%;
    background-color: white;
}
.progressbarSenior li:after {
    width: 100%;
    height: 2px;
    content: '';
    position: absolute;
    background-color: #f0ad4e;
    top: 15px;
    left: -50%;
    z-index: -1;
}
.progressbarSenior li:first-child:after {
    content: none;
}
.progressbarSenior li.active-progressbar {
    color: #f0ad4e;
}
.progressbarSenior li.active-progressbar:before {
  width: 40px;
  height: 40px;
  content: counter(step);
  counter-increment: step;
  line-height: 35px;
  border: 2px solid #f0ad4e;
  display: block;
  text-align: center;
  margin: 0 auto 12px auto;
  border-radius: 50%;
  background-color: #f0ad4e;
}
.progressbarSenior li.active-progressbar + li:after {
    background-color: #f0ad4e;
}
.bar-progress{
    padding-top: 7em;
}
.conf-text-dispo {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding-bottom:2em;
}
.title-dispo {
    font-family: "Open Sans ExtraBold";
    font-size: 35px;
    color: #f0ad4e;
    text-align: center;
    padding-bottom: 40px;
    padding-top: 3em;
    margin-left: auto;
    margin-right: auto;
}