*{
    padding:0;
    margin: 0;
}
html, body{
    font-family: 'Open Sans', sans-serif;
}
body h3{
    color: #f0ad4e;
    font-family: "Open Sans ExtraBold";
    padding-top:2%;
    margin-left: 10%;
}
body p{
    font-size: 16px;
    padding-bottom: 50px;
}
.btn-primary{
    background-color: #f0ad4e;
    color: white;
    border:none;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
.btn-primary:hover{
    background-color: #ff8351;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
.btn {
    display: inline-block;
    margin-left: 10%;
    margin-top: 20px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.comp-text{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

ul.chec-radio {
    padding-left: 4em;
    margin-left: auto;
    margin-right: auto;
}
ul.chec-radio li.pz {
    display: inline;
}
.chec-radio label.radio-inline input[type="checkbox"] {
    display: none;
}
.chec-radio label.radio-inline input[type="checkbox"]:checked+div {
    color: #fff;
    background-color: #193758;
}
.chec-radio .radio-inline .clab {
    cursor: pointer;
    background: #e7e7e7;
    padding: 7px 15px;
    text-align: center;
    color: #333;
    width: 320px;
    margin-bottom: 5px;
    font-family: "Open Sans";
}
.chec-radio label.radio-inline input[type="checkbox"]:checked+div:before {
    content: "\e013";
    margin-right: 5px;
    font-family: 'Glyphicons Halflings';
}
.chec-radio label.radio-inline input[type="radio"] {
    display: none;
}
.chec-radio label.radio-inline input[type="radio"]:checked+div {
    color: #fff;
    background-color: #000;
}
.chec-radio label.radio-inline input[type="radio"]:checked+div:before {
    content: "\e013";
    margin-right: 5px;
    font-family: 'Glyphicons Halflings';
}



h6{
    color: #f0ad4e;
    font-family: "Open Sans ExtraBold";
    font-size: 40px;
    padding-top:2%;
    padding-left: 1.7em;
    padding-bottom: 1em;
    padding-top: 4em;
}

.btn {
    margin-left: 20em;
    padding-top: 1rem!important;
    padding-bottom: 1rem!important;
    padding-left: 2rem!important;
    padding-right: 2rem!important;
}

.pad{
    padding-bottom: 20px;
}
.title-knowledges{
    font-family: "Open Sans ExtraBold";
    font-size: 35px;
    color: #f0ad4e;
    text-align: center;
    padding-bottom: 40px;
    padding-top: 3em;
    margin-left: auto;
    margin-right: auto;
}




