*{
    padding:0;
    margin: 0;
}
html, body{
    font-family: 'Open Sans', sans-serif;
}
.title_homepage{
    font-family: "Open Sans ExtraBold";
    font-size: 35px;
    color: #f0ad4e;
    text-align: center;
    padding-bottom: 40px;
    padding-top:1em;
}
.paragraphe{
    font-family: "Open Sans";
    font-size: 18px;
    text-align: center;
    line-height: 33px;
    padding-bottom: 3em;
    margin: 0;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}

h4{
    font-size: 23px;
    padding-bottom: 20px;
    width: 200px;
    text-align: center;
    color: #f0ad4e;
}

#img_homepage{
    background-image: url("../img/seniorJunior.jpeg");
    width: 100%;
    height: 450px;
    background-size: cover;
    background-position: 20% 20%;
    background-repeat: no-repeat;
}
.text-center{
    align-content:center ;
}
.icon_color{
    color: white;
}
.fa-stack{
    color: #f0ad4e;
    margin-bottom: 1em;
}
.prerequis{
    width: 100%;
    margin: 3em auto;
}
ul{
    font-size: 16px;
}
.btn-primary {
    color: white;
    background-color: #f0ad4e;
    border: none;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
.btn-primary:hover{
    background-color: #ff8351;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.section2{
    background-color: #f7f6f6;
    box-shadow: -1px 2px 10px 3px rgba(0, 0, 0, 0.3) inset;
    padding-top: 0.4em;
    padding-bottom: 3em;
}

.title-requis {
    font-family: "Open Sans ExtraBold";
    font-size: 35px;
    color: #f0ad4e;
    padding-bottom: 10px;
}
.circle-icon{
    background-color: #f0ad4e;
    padding:30px;
    border-radius: 50%;
}

#btn-postulation {
    margin:auto;
    font-size: 1.5em;
    font-weight: bold;
}
#btn-postulation:hover{
    text-decoration: none;
}
a:hover{
    text-decoration:none;
}