.profilJunior-summary{
    padding-top: 2em;
    margin: 0px;
}
.title_juniorSummary{
    color: #f0ad4e;
    font-family: 'Open Sans';
    font-size: 25px;
  }

.row.profilJ{
    margin-top: 50px;
}
.card {
    border-color:  #f1f1f1;
}
.card-body{
    margin-left:0!important;
    height: 100%;
    
}
.card-summaryJ{
display: block;
}
h4.card-title{
    width: 100%;
}
#sect2{
    padding-top: 2em;
}
.text-infoG{
    color: #6c757d;
    font-size: 14px;
    padding-left: 1em;
}
.radio-inline{
        display: inline-block;
        margin-bottom: 1em;
}