.page {
    display: none;
}

.profil_div {
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 50px;
    margin-bottom: 50px;
}

#profil.page h3 {
    margin-left: 50px;
}

#historique {
    margin-top: 50px;
    margin-left: 50px;
    margin-right: 50px;
}

.search {
    float: right;
    padding-bottom: 20px;
}
/*##############################FIRST NAVBAR#######################################################*/

.mainNav .active {
    background-color: white;
    color: #193758;
}

.mainNav, .mainNav ul {
    padding: 0;
    margin: 0;
}

.mainNav ul.navbar-nav > li{
    float:left;
}

.mainNav a.nav-link, .mainNav li.nav-item .active a.nav-link {
    text-align: center;
    display:block;
    width: 150px;
    padding-top: 10px;
    padding-bottom: 10px;

}

/*##############################CARDS#######################################################*/


h3, .carte {
    margin-left: 30px;
    margin-top: 30px;
    padding: 0;
}

.card{
    border-color: #9acfea;
}

.card-footer{
    height:45px;
    text-decoration: none;
    border-style: none;
    background-color: white;
    padding-left: 5px;
}


.bg-faded {
    margin-left: 20px;
    margin-right: 15px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.card-body {
    padding:0;
    margin-left: 5px;
}

/*##############################SECOND NAVBAR#######################################################*/


.secondNav.navbar .secondNav ul.navbar-nav {
    display: inline-block;
    float: none;
}

.secondNav ul.navbar-nav.navbar-center {
    position: absolute;
    left: 50%;
    transform: translatex(-50%);
    height: auto;
}

.secondNav.navbar {
    margin: auto;
    height: 40px;
}

.secondNav a.nav-link, li.nav-item.active a.nav-link {
    text-align: center;
    display:block;
    padding-left: 30px;
    padding-right: 30px;
}
.logo{
    width: 3.5em;
    padding: 7px;
  }