*{
    padding:0;
    margin: 0;
}
html, body{
    font-family: 'Open Sans', sans-serif;
}

.form-control {
    width: 300%!important;
}

.col-sm-2 {
    padding-left: 0;
    padding-right: 0;
}

form .btn {
    margin:0!important;
    margin-right: 0!important;
}


body h3{
    color: #f0ad4e;
    font-family: "Open Sans ExtraBold";
    padding-bottom: 5%;
    padding-top:2%;
    text-align: center;
}

.title-form{
    padding-top: 6em;
}

.d-flex {
    padding-bottom: 2em;
}

.btn-primary{
    background-color: #f0ad4e;
    color: white;
    border:none;
}
.btn-primary:hover{
    background-color: #ff8351;
}
.btn {
    display: block;
    margin: 35px;
}
.center_div{
    margin: 0 30%;
    width:80%;
    margin-left: 25em;
    align-content: center;
    padding-bottom: 1em;
}

.form-in {
    padding-bottom: 3em;
}

.btn-pad {
    padding-top: 2em;
}

.title_homepage {
    font-family: "Open Sans ExtraBold";
    font-size: 35px;
    color: #f0ad4e;
    text-align: center;
    padding-bottom: 40px;
    padding-top: 4em;
}

.center-div {
    margin: auto;
    padding-left: 20%;
}