*{
    padding:0;
    margin: 0;
}
html, body{
    font-family: 'Open Sans', sans-serif;
}
body h3{
    color: #f0ad4e;
    font-family: "Open Sans ExtraBold";
    padding-top:2%;
    margin-left: 10%;
}
body p{
    font-size: 16px;
    padding-bottom: 50px;
    line-height: 30px;
    width: 700px;
}
.btn-primary{
    background-color: #f0ad4e;
    color: white;
    border:none;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
.btn-primary:hover{
    background-color: #ff8351;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
.btn {
    display: inline-block;
    margin-top: 20px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.conf-text {
    padding-left: 12em;
    margin-bottom: 4em;
}
.conf-title{
    font-family: "Open Sans ExtraBold";
    font-size: 35px;
    color: #f0ad4e;
    text-align: center;
    padding-bottom: 40px;
    padding-top: 3em;
    margin-left: auto;
    margin-right: auto;
}

.confirmation {
    padding-bottom: 3em;
}
.btn-resend{
    font-family: 'Open sans';
    font-size: 16px;
    font-weight: 700;
    margin: auto!important;
}