/* Remove the navbar's default margin-bottom and rounded borders */ 
nav{
    display: inline;
}
.navbar {
    margin-bottom: 0;
    border-radius: 0;
    height: 80px;
}
.navbar a:hover{
    color:white;
}
.navbar-brand {
    display: inline-block;
    padding-top: 0;
    padding-bottom: 0;
    margin-right: 1rem;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap;
}
.navbar-brand>img {
    height: 100%;
    padding: 15px; /* firefox bug fix */
    width: auto;
  }
.bg-dark {
    background: #193758!important;
}
.d-flex {
    padding-bottom: 0;
    display: flex!important;
}
.p-3 {
    padding: 0!important;
}
.text-dark {
    color: #F0AD4E!important;
}

/* Set height of the grid so .sidenav can be 100% (adjust as needed) */

/* Set gray background color and 100% height */
.sidenav {
    padding-top: 20px;
    background-color: #f1f1f1;
    height: 100%;
}

/* Set black background color, white text and some padding */
footer {
    background-color: #193758;
    color: white;
    padding: 15px;
}

/* On small screens, set height to 'auto' for sidenav and grid */
@media screen and (max-width: 767px) {
    .sidenav {
        height: auto;
        padding: 15px;
    }
    .row.content {height:auto;} 
}

.navbar-brand {
    justify-content: flex-start;
    width: 94px;
    margin-left: 14px;
}


.navbar-expand-sm {
    justify-content: flex-end;
}

.fixed-top {
    position:relative;
}

.nav-item {
    padding: 20px;
    font-family: "Open Sans";
    font-size: 1.1em;
}

.navbar-dark .navbar-nav .nav-link{
    color: #F0AD4E;
}
h5.white-text {
    color: #F0AD4E;
    text-align: center;
    margin-left: 0;
}

.footer-position{
    left:250px;
    bottom: 30px;
}

.btn3 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #F0AD4E;
    color: white;
    font-family: "Open Sans";
    font-weight: bold;
    font-size: 24px;
    margin-top: 10px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.footer-candidature {
    right:250px;
    bottom: 30px;
}

.info{
    text-align: center;
    font-size: 15px;
}
.box-shadow{
    box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, .05);
}
@media (min-width: 768px){
.pr-md-4, .px-md-4 {
    padding-right: 1.5rem!important;
}
}
.btn-connexion{
    margin:0!important;
    margin-top: 0!important;
    margin-bottom: 0.5em!important;
}
.btn-connexion {
    margin-left: 20em;
    padding-top: 0.5rem!important;
    padding-bottom: 0.5rem!important;
    padding-left: 1rem!important;
    padding-right: 1rem!important;
}
.btn-outline-primary {
    color: #F0AD4E;
    background-color: transparent;
    background-image: none;
    border-color: #F0AD4E;
}
.btn-outline-primary:hover {
    color: #fff;
    background-color: #F0AD4E;
    border-color: #F0AD4E;
}
.navbar a:hover {
    color: #fff!important;
    text-decoration: none;
}
.mb-3, .my-3 {
    margin-bottom: 0!important;
}
.topnav-right {
    float: right!important;
  }
@media (min-width: 768px){
.mr-md-auto, .mx-md-auto {
    margin-right: auto!important;
}
}
.border-bottom {
    border-bottom: 0;
}
.d-flex.footer{
    padding-bottom: 0;
}
.nav-container2 { 
    width:940px; 
    margin:auto; 
    height:30px;
}
.social-media-list { 
    width: 393px; 
}
.social-media-list li {
     display:block; 
     float: left; width:33.3%; 
     text-align:center; 
     margin: 0 auto;
    }