*{
    padding:0;
    margin: 0;
}


.container-progressbar {
    width: 1000px;
    margin-top: 8em;
}
.progressbar {
    counter-reset: step;
}
.progressbar li {
    list-style-type: none;
    width: 20%;
    float: left;
    font-size: 15px;
    position: relative;
    text-align: center;
    color: #f0ad4e;
    font-family: "Open Sans";
}
.progressbar li:before {
    width: 40px;
    height: 40px;
    content: counter(step);
    counter-increment: step;
    line-height: 35px;
    border: 2px solid #f0ad4e;
    display: block;
    text-align: center;
    margin: 0 auto 12px auto;
    border-radius: 50%;
    background-color: white;
}
.progressbar li:after {
    width: 100%;
    height: 2px;
    content: '';
    position: absolute;
    background-color: #f0ad4e;
    top: 15px;
    left: -50%;
    z-index: -1;
}
.progressbar li:first-child:after {
    content: none;
}
.progressbar li.active {
    color: #f0ad4e;
}
.progressbar li.active:before {
    border-color: #f0ad4e;
}
.progressbar li.active + li:after {
    background-color: #f0ad4e;
}
