body {
    margin: 0;
    padding: 0;
    font-family: "Open Sans";
    width: 100%;
}

.icon-background {
    color: #f0ad4e;
}

.icon_color {
    color: white;
}

.title-senior {
    font-family: "Open Sans ExtraBold";
    font-size: 35px;
    color: #f0ad4e;
    text-align: center;
    padding-bottom: 40px;
    padding-top: 1em;
    margin-left: auto;
    margin-right: auto;
}

.title-text {
    margin-left: 0!important;
    margin-top: 0.4em;
    color:  black;
}

h5 {
    text-align: center;
}

.block {
    background-color: #f7f6f6;
    padding-top: 10px;
    padding-bottom: 30px;

}


.col-centered {
    float: none;
    vertical-align: text-top;
    margin-left: auto;
    margin-right: auto;
    display: table;
}

.icon-color-clock {
    color: #ff8351;
}

.icon-color-cap {
    color: #c0c0c0;
}

.icon-color-skills {
    color: #f0ad4e;
}


.text-bottom {
    vertical-align: bottom;
}

.card-header {
    color: white;
    background-color: #193758;
    font-size:20px;
    text-align: center;
}

.card-footer {
    background-color: white;
    text-decoration: none;
    border-style: none;
    color: #f0ad4e;
    font-size: 30px;
    text-align: center;
}

.card-mod {
    margin-bottom: 1em;
    padding-left: 1em;
}

.card-deck {
    padding-bottom: 30px;
    margin-left:auto;
    margin-right: auto;
}

.card-body {
    height: 200px;
}
.card-body-h {
    padding:0;
    margin-left: 5px;
}

.card-title-formation {
    font-size: 24px;
    margin-left: 0px;}
h5.card-title {
    font-size: 24px;
    margin-left: 0px;
}

.card-text {
    text-align: center;
}

.agents {
    width: 220px;
    margin-left: auto;
    margin-right: auto;
}
.agents-fond{
    background-color: #e5e5e5;
}

.btn-primary {
    color: white;
    background-color: #f0ad4e;
    border: none;
}

.btn-primary:hover {
    background-color: #ff8351;
}

.btn {
    margin: auto;
    display: block;
}

.row {
    margin-top: 30px;
}

div.container.services p {
    margin:0px;
}

.services {
    padding-top: 4em;
    padding-bottom: 3em;
}

.icon-box {
    padding-top: 30px;
}

h2 {
    color: #f0ad4e;
    font-family: "Open Sans ExtraBold";
    font-size: 23px;
    padding-top: 1em;
}

.expl { 
    font-size:16px;
}

.centered {
    margin-left: 3em!important;
    margin-right: 3em!important;
}

.row-pad{
    margin-top: 80px;
}

.row-agent {
    margin-top: 5em;
    display: -ms-flexbox;
    display: flex;
    margin-left: 2em;
    padding-bottom: 30px;
}

.row3 {
    margin-top: 5em;
    display: -ms-flexbox;
    display: flex;
    margin-left: -16em;
    padding-bottom: 30px;
}

#sei {
    font-family: "Open Sans ExtraBold";
    font-size: 35px;
    color: #f0ad4e;
    text-align: center;
    padding-bottom: 40px;
    padding-top: 1em;
    margin-left: auto;
    margin-right: auto;
}

.row-serv {
    display: -ms-flexbox;
    display: flex;
    margin-left: -15px;
}

.serv-pad {
    padding-left: 4em!important;
}

#btn-inscription {
    align-content: flex-end;
    font-size: 1.5em;
    font-weight: bold;
    margin-right: auto;
    margin-left: auto;
}

.serv-sec{
    font-size: 1.1em!important;
    margin-left: 0!important;
}
.shadow{
    box-shadow: -1px 2px 10px 3px rgba(0, 0, 0, 0.3) inset;
}
.box-shadow { 
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); 
}
.fa-stack-1x {
    line-height: initial!important;
}
.border-top {
    border-top: 1px solid #e5e5e5; 
}
.border-bottom { 
    border-bottom: 1px solid #e5e5e5; 
}
.card-deck .card {
    min-width: 220px;
    border-color: #e5e5e5!important;
  }
  .list-unstyled {
    padding-left: 0;
    padding: 1em;
    list-style: none;
}
.card-box-title {
    padding-top: 30px;
    position: relative;
    padding-left: 130px;
    padding-right: 130px;
}
.circle-icon-formation {
    background: #b3b2b2;
    padding:30px;
    border-radius: 50%;
}
.circle-icon-dispo {
    background: #ea5b0c;
    padding:30px;
    border-radius: 50%;
}
.circle-icon-competent {
    background: #efad4e;
    padding:30px;
    border-radius: 50%;
}
.circle-icon{
    background: #efad4e;
    padding:30px;
    border-radius: 50%;
}
.icon_color {
    color: white;
}

.marketing .col-lg-4 {
    margin-bottom: 1.5rem;
    text-align: center;
  }
  .marketing h2 {
    font-weight: 400;
  }
  ul{
    list-style-type: none;
  }

  .paragraphe-infos{
      width:100%;
      margin-left:0;
  }
  .row-infos{
    margin-left:auto;
    margin-right: auto;
    margin-top:1em;
  }
  .logo{
    width: 3.5em;
    padding: 7px;
  }