body {
    margin: 0;
    padding: 0;
    font-family: "Open Sans";
}



h4 .conf-title {
    font-family: "Open Sans Semibold";
    margin-left: 100px;
    margin-top: 120px;
}


.btn-primary {
    color: white;
    background-color: #f0ad4e;
    border: none;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.btn-primary:hover {
    background-color: #ff8351;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.btn {
    margin-left:100px;
    display: block;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.ok{
    padding-left: 0!important;
}

#btn {
    padding-bottom: 2em;
}