body {
    margin: 0;
    padding: 0;
    font-family: "Open Sans";
}

h5 {
    font-family: "Open Sans Semibold";
    color: #f0ad4e;
    margin-left: 100px;
    margin-top: 30px;
}

form {
    margin-left: 100px;
    margin-top: 30px;
}

.btn-primary {
    color: white;
    background-color: #f0ad4e;
    border: none;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.btn-primary:hover {
    background-color: #ff8351;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.btn {
    margin-top: 20px;
    display: block;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.Sform-down {
    padding-top: 100px;
}

h6 {
    color: #f0ad4e;
    font-family: "Open Sans ExtraBold";
    font-size: 40px;
    padding-top: 2%;
    padding-left: 4.7em;
    padding-bottom: 1em;
    padding-top: 4em;
}

.form-in {
    padding-bottom: 3em;
}