<!--<div class="modal fade" id="modalAddForm" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Nouvelle demande</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form class="mb-4" id="seniorAddForm">
                    <div class="form-group">
                        <label class="subtitle-modal">Décrivez le problème du Senior : </label>
                        <textarea id="inputDescription" class="form-control" rows="2" placeholder="Décrivez ici le problème..."></textarea>
                    </div>
                    <div class="form-group">
                        <label class="subtitle-modal">Type de demande : </label>
                        <select id="newDemande-skills" class="custom-select" style="width:100%;height: 80%;" multiple>
                            <option></option>
                            <option></option>
                            <option></option>
                            <option></option>
                        </select>
                    </div>
                    <button type="submit" class="btn btn-primary">Créer</button>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">annuler</button>
            </div>
        </div>
    </div>
</div>-->
<div class="modal fade" id="modalAddForm" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Nouvelle demande</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="seniorAddForm">
                    <div class="form-group">
                        <label class="subtitle-modal">Décrivez le problème du Senior : </label>
                        <textarea class="form-control" rows="2" placeholder="Décrivez ici le problème..."></textarea>
                    </div>
                    <div class="form-group">
                        <label class="subtitle-modal">Type de demande : </label>
                        <select id="newDemande-skills" class="custom-select" style="width:100%;height: 80%;" multiple>

                        </select>
                    </div>
                    <label class="subtitle-modal">Disponibilités : </label>
                    <div class="form-row">
                        <div class="col-auto">
                            <label>De : </label>
                            <input type="date" id="newDemande-dateFrom" class="form-control mb-2" placeholder="" pattern="[0-9]{4}-[0-9]{2}-[0-9]{2}"
                                   value="2018-12-02">
                            <input type="time" id="newDemande-timeFrom" class="form-control mb-2" placeholder="" value="12:00">
                        </div>
                        <div class="col-auto">
                            <label>A : </label>
                            <input type="date" id="newDemande-dateTo" class="form-control mb-2" placeholder="" pattern="[0-9]{4}-[0-9]{2}-[0-9]{2}" value="2018-12-02">
                            <input type="time" id="newDemande-timeTo" class="form-control mb-2" placeholder="" value="13:00">
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary">Créer</button>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Fermer</button>
            </div>
        </div>
    </div>
</div>
