<div>
    <h2>Informations du senior</h2>
    <div class="row">
        <div class="col-md-8">
            <h2 class="title-rappel"></h2>
            <p><b>Nom:</b> {{senior.attributes.user.lastName}}</p>
            <p><b>Prénom:</b> {{senior.attributes.user.firstName}}</p>
            <p><b>Adresse: </b>{{senior.attributes.user.address.street}} {{senior.attributes.user.address.streetNumber}}</p>
            <p><b>NPA: </b>{{senior.attributes.user.address.NPA}}</p>
            <p><b>Ville: </b> {{senior.attributes.user.address.city}}</p>
            <p><b>Problème: </b>{{request.attributes.description}}</p>
        </div>
    </div>

</div>
{{#each juniors}}
    <div class="list-group">
        <div class="list-group-item list-group-item-action flex-column align-items-start active" >
            <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1 junior-match">{{ user.firstName }} {{ user.lastName }}</h5>
            </div>
            <p class="mb-1">Date de naissance: {{ user.birth }}</p>
            <p class="mb-1">Email: {{ user.email }}</p>
            <p class="mb-1">Téléphone : {{ user.phone }}</p>
            <small>
                <b>Adresse : </b> Rue du Lac 54, 1020 Renens</small>
            <button class="btn link btn-primary" data-juniorid="{{id}}">Assigner Junior</button>
        </div>
    </div>
{{/each}}
