<table class="table dashboard-demandeRecue">
    <caption class="caption-dashboard">Demandes reçues</caption>
    <thead>
    <tr>
        <th scope="col">Nom</th>
        <th scope="col">Prénom</th>
        <th scope="col">Description</th>
        <th scope="col">Date de début</th>
        <th scope="col">Choix Junior</th>
    </tr>
    </thead>
    <tbody>
    {{#each requests}}
        <tr>
            <td>{{senior.user.lastName}}</td>
            <td>{{senior.user.firstName}}</td>
            <td>{{description}}</td>
            <td>{{startDate}}</td>
            <td class="text-center"><a href="#juniorsMatch/{{id}}" class="btn adminBtn btn-primary">Choisir junior</a></td>
        </tr>
    {{/each}}
    </tbody>
</table>
