<table class="table tableau-admin">
    <caption class="caption-dashboard">Seniors inscrits</caption>
    <thead>
    <tr>
        <th scope="col">Identifiant</th>
        <th scope="col">Nom </th>
        <th scope="col">Prénom</th>
        <th scope="col">Adresse</th>
        <th scope="col">Action</th>
    </tr>
    </thead>
    <tbody>
    {{#each seniors}}
    <tr>
        <td>{{user.id}}</td>
        <td>{{user.lastName}}</td>
        <td>{{user.firstName}}</td>
        <td>{{user.address.street}} {{user.address.streetNumber}}, {{user.address.City}} {{user.address.NPA}}</td>
        <td>
            <div class="btn-group btnSenior" role="group" aria-label="Basic example">
                <button type="button" data-senior-id ="{{user.id}}" class="btn btnDemande btn-success">Demande</button>
            </div>
        </td>
    </tr>
    {{/each}}
    </tbody>
</table>
