<ul class="nav nav-tabs" id="myTab" role="tablist">
    {{#each entries}}
        <li>
            <a class="nav-link" data-toggle="tab" href="{{url}}" role="tab" aria-selected="true">{{label}}</a>
        </li>
    {{/each}}
</ul>
