<div class="rappel">
    <div class="row">
        <div class="col-md-8">
            <h2 class="title-rappel">Informations Senior</h2>
            <p>Nom du Senior : Arielle Domballe</p>
            <p>Problème : Installation routeur</p>
            <p>Description : j'aimerais bien que ça soit une fille qui vienne.</p>
            <p>Adresse : Rue du Bugnon 55, 1020 Renens </p>
            <p>Date : 12.06.2018</p>
        </div>
    </div>
</div>
