<a class="metrostyle boometro " style="cursor: pointer; margin-right: 100px">
    <span class="fas fa-check" style="font-size: 2em; color: white; padding-left: 0.3em; margin-top: 3px;float:left"></span>
    <span style="color: white; font-size: 2em; float: right; margin-top: -8px; padding-right: 0.2em">{{ accepted }}</span>
    <span style="color: white; float: left; margin-top:2px; margin-left: 10px;margin-right:80px; margin-bottom: 35px; line-height: 1em;">Demandes confirmées</span>
</a>
