<a class="metrostyle reemetro" style="cursor: pointer">
    <span class="fas fa-clock" style="font-size: 2em; color: white; padding-left: 0.3em; margin-top: 3px;float:left"></span>
    <span style="color: white; font-size: 2em; float: right; margin-top: -8px; padding-right: 0.2em">{{sent}}</span>
    <span style="color: white; float: left; margin-top:2px; margin-left: 10px;margin-right:80px; margin-bottom: 35px; line-height: 1em;">Demandes en attente</span>
</a>
