<form class="form-in">
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Genre*</label>
            <div class="col-lg-2">
                <select class="form-control" id="genderS">
                    <option selected disabled>Genre</option>
                    <option value="F">Femme</option>
                    <option value="M">Homme</option>
                </select>
            </div>
        </div>
        <div class="form-group row">
            <label for="lastName" class="col-sm-2 col-form-label">Nom*</label>
            <div class="col-lg-3">
                <input type="text" name="lastName" class="form-control" id="lastName" placeholder="Nom" required>
                <span></span>
            </div>
        </div>
        <div class="form-group row">
            <label for="firstName" class="col-sm-2 col-form-label">Prénom*</label>
            <div class="col-lg-3">
                <input type="text" name="firstName" class="form-control" id="firstName" placeholder="Prénom"
                       required>
                <span></span>
            </div>
        </div>
        <div class="form-group row date-picker">
            <label for="birth" class="col-sm-2 col-form-label">Date de naissance*</label>
            <div class="col-lg-2">
                <input type="text" name="birth" class="date form-control" id="birth" placeholder="aaaa-mm-jj"
                       required>
                <span></span>
            </div>
        </div>
        <div class="form-group row">
            <label for="street" class="col-sm-2 col-form-label">Adresse*</label>
            <div class="col-lg-4">
                <input type="text" name="street" class="form-control" id="street" placeholder="Adresse" required>
                <span></span>
            </div>
        </div>
        <div class="form-group row">
            <label for="streetNumber" class="col-sm-2 col-form-label">Numéro de rue*</label>
            <div class="col-lg-1">
                <input type="text" name="streetNumber" class="form-control" id="streetNumber">
                <span></span>
            </div>
        </div>
        <div class="form-group row">
            <label for="city" class="col-sm-2 col-form-label">Ville*</label>
            <div class="col-lg-2">
                <input type="text" name="city" class="form-control" id="city" placeholder="Ville" required>
                <span></span>
            </div>
        </div>
        <div class="form-group row">
            <label for="NPA" class="col-sm-2 col-form-label">NPA*</label>
            <div class="col-sm-1">
                <input type="text" name="NPA" class="form-control" id="NPA" placeholder="NPA" required>
                <span></span>
            </div>
        </div>
        <div class="form-group row">
            <label for="phone" class="col-sm-2 col-form-label">Téléphone*</label>
            <div class="col-lg-3">
                <input type="tel" name="phone" class="form-control" id="phone" placeholder="Ex: +41 78 919 94 15"
                       required>
                <span></span>
            </div>
        </div>
        <div class="form-group row">
            <label for="email" class="col-sm-2 col-form-label">Email*</label>
            <div class="col-lg-3">
                <input type="email" name="email" class="form-control" id="email" placeholder="Email" required>
                <span></span>
            </div>
        </div>
        <div class="d-flex justify-content-center btn-pad">
            <button type="submit" class="btn btn-primary">Enregistrer</button>
        </div>
    </form>
    <div class="alert alert-success" role="alert" hidden>
        upload successfully
    </div>
